div.book {
  writing-mode:     vertical-rl;
  text-orientation: mixed;
  text-shadow:      1px 1px black;
}

div.shelf {
  display:        flex;
  flex-direction: row;
  flex-wrap:      wrap;
  align-items:    flex-end;
  width:          2000px;
}

div.book {
  margin:              2px;
  background-size:     200px;
  background-repeat:   no-repeat;
  background-position: center;
  display:             flex;
  align-items:         center;
  justify-content:     center;
  padding: 5px;
}


